@import "../../../styles/Colors.scss";
@import "../../../styles/Fonts.scss";

.usercard {
  perspective: 650px;
  -moz-perspective: 650px;
  position: relative;
  min-width: 150px;
  height: 190px;
  margin: 12px;
  &__side {
    height: 190px;
    transition: all 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;

    &--front {
      background-color: $color-white;
      &-animate {
        transform: rotateY(-180deg);
      }
    }
    &--back {
      transform: rotateY(180deg);

      &-animate {
        transform: rotateY(0);
      }
    }
  }

  &__picture {
    background-size: cover;
    background-position: center center;
    height: 190px;

    &--back {
      background-blend-mode: multiply;
    }
  }
  &__heading {
    font-size: 13px;
    color: $color-white;
    width: 100%;
  }
  &__heading-span-name {
    text-align: left;
    position: absolute;
    top: 20px;
    padding: 10px 10px;

    &--1 {
      background-color: $color-primary-dark;
    }
  }
  &__heading-span-country {
    text-align: right;
    position: absolute;
    top: 145px;
    right: 0;
    padding: 10px 10px;

    &--1 {
      background-color: $color-black;
    }
  }
  &__details {
    padding: 3rem;
  }
  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 190px;
    text-transform: capitalize;
    font-size: 13px;
  }
  &__info-box {
    color: $color-white;
  }

  &__info-name {
    margin-top: 30px;
    font-weight: 500;
  }
  &__info-details {
    margin-top: 80px;
    text-align: right;
  }
  &_info-picture {
    background-size: cover;
    background-position: center center;
    height: 190px;
    background-blend-mode: screen;
  }
}
