@import "../../../styles/Colors.scss";
@import "../../../styles/Fonts.scss";

.header {
  height: 59px;
  border-bottom: 1px solid $color-grey-border;
  border-top: 1px solid $color-grey-border;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: $color-black;
  background-color: $color-grey-dark-2;
}

.logo {
  color: $color-grey-dark-1;
  font-size: 24px;
  font-weight: 300;
  max-width: 180px;
  padding: 0;
  margin: 0;
  &-users {
    font-weight: 500;
    color: $color-black;
  }
  margin-left: -125px;
}

.col-filter-nav {
  max-width: 125px;
  height: 59px;
  border-right: 1px solid $color-grey-border;
  font-size: 16px;
}

.filter-button {
  cursor: pointer;
}

.filter-icon {
  width: 20px;
}

@media screen and (max-width: 650px) {
  .right-side-button {
    display: none;
    width: 100px;
  }
}

@media screen and (max-width: 520px) {
  .filter-txt {
    display: none;
  }
  .col-filter-nav {
    border-right: 0px solid $color-grey-border;
  }
}
