@import "../../../styles/Colors.scss";
@import "../../../styles/Fonts.scss";

.h100 {
  height: 100vh;
}

.col-filter {
  position: relative;
  width: 0;
  min-height: 100%;
  overflow-x: hidden;
  color: $color-black;

  transition: width, 0.5s;
  background-color: $color-white;

  &-open {
    width: 235px;
    transition: width, 0.5s;
    background-color: $color-white;
    border-width: 1px;
    border-style: solid;
    border-color: $color-grey-border;
    min-height: 100%;
  }
}

@media screen and (max-width: 450px) {
  .col-filter-open {
    width: 150px;
  }
}
