@import "../../../styles/Colors.scss";
@import "../../../styles/Fonts.scss";

.input-text-fields {
  margin-top: 2px;
  outline: 0;
  .input-text {
    height: 59px;
    font-size: 14px;
    width: 100%;
  }
  .form-control {
    border-width: 0px 0 1px;
    border-bottom: 1px solid $color-grey-border;
    height: 55px;
    font-size: 14px;
  }
}
.close-button-area {
  width: 248px;
  border-bottom: 1px solid $color-grey-border;
  height: 58px;
}
.close-button {
  font-family: $font-family-brand;
  text-transform: uppercase;
  font-size: 16px;
  color: $color-black;
  text-align: right;
  cursor: pointer;
  .close-icon {
    width: 11px;
  }
}

.chips-area {
  padding: 0 0 0 10px;
}

@media screen and (max-width: 450px) {
  .close-button-area {
    width: 163px;
  }
}
