@import "../../../styles/Colors.scss";
@import "../../../styles/Fonts.scss";

.chip {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 5px;
  padding: 4px 13px;
  margin-top: 12px;
  margin-right: 5px;
  font-size: 13px;
}

.chipContent {
  margin-right: 2px;
}

.closeButton {
  cursor: pointer;
}
