@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500&family=Roboto:wght@400;500&display=swap");
@import "./styles/Colors.scss";
@import "./styles/Fonts.scss";

*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-grey-dark-1;
  border-color: #9b9b9b;
  box-sizing: border-box;
  background-color: $color-grey-dark-2;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  animation-name: fadeIn;
}
